.meal-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-top: 30px;
}

.meal-box .left-box .img-box {
  width: 100%;
  height: 250px;
}

.meal-box .left-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal-box .right-box .title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.meal-box .right-box .info p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.meditate-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding-top: 0;
}

.meditate-box .left-box {
  order: 1;
}

.meditate-box .left-box .img-box {
  width: 100%;
  height: 250px;
}

.meditate-box .left-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meditate-box .right-box .title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.meditate-box .right-box .info p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.workout-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding-top: 0;
}

.workout-box .left-box .img-box {
  width: 100%;
  height: 250px;
}

.workout-box .left-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workout-box .right-box .title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.workout-box .right-box .info p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.calorie-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding-top: 0;
}

.calorie-box .left-box {
  order: 1;
}

.calorie-box .left-box .img-box {
  width: 100%;
  height: 250px;
}

.calorie-box .left-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.calorie-box .right-box .title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.calorie-box .right-box .info p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.table-modal-box {
  max-width: 550px !important;
}

.table-modal {
  overflow-x: auto;
}

.table-modal .title h1 {
  color: #e67e22;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 6px;
}

.table-modal .title p {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.table-modal .title i {
  color: #ffffff;
}

table {
  width: 100%;
  overflow-x: scroll;
}

table tr {
  height: 40px;
}

table th {
  text-align: left;
  background-color: #e67e22;
  font-size: 12px;
  color: #ffffff;
  white-space: nowrap;
  padding: 0 10px;
}

table th.th-red {
  background-color: #e74c3c;
}

table td {
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600;
  color: #ffffff;
  padding: 0 10px;
  background-color: #222222;
}

table td.td-start {
  background-color: #3498db;
}

table td.td-img {
  padding: 6px 10px;
}

table td.td-img img {
  height: 40px;
}

@media (max-width: 768px) {
  .meal-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .meal-box .left-box .img-box {
    margin-bottom: 20px;
  }
  .meditate-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .meditate-box .left-box {
    order: 0;
  }
  .meditation-box .left-box .img-box {
    margin-bottom: 20px;
  }
  .workout-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .workout-box .left-box .img-box {
    margin-bottom: 20px;
  }
  .calorie-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .calorie-box .left-box {
    order: 0;
  }
  .calorie-box .left-box .img-box {
    margin-bottom: 20px;
  }
}
